<div class='view_contacts'>
    <div class="container col-sm-6 col-md-4 contact">
        <div class="thumbnail contact">
            <div class="caption">
                <div class="panel panel_margin_fix panel-info"></div>
                <div class="panel-heading">
                    <div class="icon_position">
                        <a ng-click="changeFav(contact, contact.id)"><i id="star" ng-class="{'fa fa-star-o': !contact.favorite, 'fa fa-star': contact.fabvorite}" aria-hidden="true"></i></a>
                        <a ng-click="editContact(contact.id")><i id="pencil" class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a ng-click="deleteContact(contact.id")><i id="trash" class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </div>
                    <h2 class="panel-title">{{contact.name_first}} {{contact.name_last}} </h2>
                    <h3><i class="fa fa-address-card-o" aria-hidden="true"></i> Contact Info </h3>
                    <p class='phone'><i class="fa fa-phone" aria-hidden="true"></i> {{contact.phone}} </p>
                    <p class='email'><i class="fa fa-envelope-open-o" aria-hidden="true"></i> {{contact.email}} </p>
                    <p class='company'><i class="fa fa-handshake-o" aria-hidden="true"></i> {{contact.company}}</p>
                    <p class='twitter'><i class="fa fa-twitter" aria-hidden="true"></i> {{contact.twitter}} </p>
                    <p class='facebook'><i class="fa fa-facebook" aria-hidden="true"></i> {{contact.facebook}} </p>
                </div>
            </div>
        </div>
    </div>
</div>