<div id="favorite_contact">
    <h2 class="text-center">The ones I like</h2>
    <div id="contacts">
        <div ng-repete="contact in contacts" class="col-sm-6 col-md-4 contact">
            <div class="thumbnail">
                <button class="btn btn-danger delete" ng-click="deleteContact(contact.id)"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-info star" ng-click="toggleFavorite"><i ng-class="{'fa fa-star-o' : !contact.isFavorite, 'fa fa-star' : contact.isFavorite}"></i></button>
                <button class="btn btn-info edit" ng-click="editContact(contact.id)"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-info detail" ng-click="contactDetail(contact.id)"><i class="fa fa-window-restore"></i></button>				
            <div class="caption">
                <h3>{{contact.first_name}} {{contact.last_name}}</h3>
                <!-- <p>{{contact.phone_number}}</p>
                <p>{{contact.email}}</p>
                <p>{{contact.company}}</p>
                <p>{{contact.twitter}}</p>
                <p>{{contact.facebook_page}}</p> -->
            </div>
        </div>
    </div>
</div>