<div class='tet-center' id='view'>
	<div class="input-group input-group-lg col-sm-6 col-md-4 searchbar">
		<input id="search-bar" type="text" class="form-control" placeholder="Search Contacts" ng-model="searchText">
		<span class="input-group-btn"><button class="btn btn-default" type="button">Search</button></span>
	</div>

	<div id="view contacts">
		<div ng-repeat="contact in contacts | filter: searchText" class="col-sm-6 col-md-4 contact-card">
			<div class='caption'>
				<h2 class="panel-title">{{contact.first_name}} {{contact.last_name}}</h2>
				<p class='phone'><i class="fa fa-phone" aria-hidden="true"></i> {{contact.phone_number}} </p>
				<p class='email'><i class="fa fa-envelope-open-o" aria-hidden="true"></i> {{contact.email}} </p>
				<p class='company'><i class="fa fa-handshake-o" aria-hidden="true"></i> {{contact.company}}</p>
				<p class='twitter'><i class="fa fa-twitter" aria-hidden="true"></i> {{contact.twitter}} </p>
				<p class='facebook'><i class="fa fa-facebook" aria-hidden="true"></i> {{contact.facebook_page}} </p>
			</div>

			<div class="btnGroup">
				<button class="btn btn-danger delete" ng-click="deleteContact(contact.id)"><i class="fa fa-trash-o"></i></button>
				<button class="btn btn-success edit-btn" ng-click="editContact(contact.id)"><i class="fa fa-pencil"></i></button>
				<button class="btn btn-info detail-btn" ng-click="contactDetail(contact, contact.id)"><i class="fa fa-search"></i></button>
				<button class="btn btn-info star" ng-click="switchFavorite(contact)"><i ng-class="{'fa fa-star-o' : !contact.favorite, 'fa fa-star' : contact.favorite}"></i></button>
			</div>
		</div>
	</div>

	<div class="deleteAll">
		<button class="btn btn-danger btn-lg btn-block" ng-click="deleteAll(contact.id)">Delete All</button>
	</div>
</div>

















<!-- <div id="view_contacts">
	<h2 ng-if="contacts.length > 0" class="contacts_heading">My Contacts</h2>
	<div class="container search_container">
		<form action="" class="search-form">
			<div class="form-group has-feedback">
				<label for="search" class="sr-only">Search</label>
				<input type="text" class="form-control" name="search" id="search" placeholder="search favorites" ng-modle="searchText">
				<span class="glyphicon glyphicon-search form-control-feedback"></span>
			</div>
		</form>
	</div>
	<div id="contacts">
		<div ng-if="contacts.length == 0" class="text-center">
			<h2>Add New Peeps</h2>
			<button ng-click="goToNewContacts()" class="btn btn-default new-btn">Add New Contact</button>
		</div>
		<div ng-repeat="contact in contacts | filter: searchText" class="col-sm-6 col-md-4">
			<div class="thumbnail contact">
				<div class="caption">
					<div class="pannel-heading">
						<div class="icon_positioning">
							<button class="btn btn-danger delete" ng-click="deleteContact(contact.id)"><i class="fa fa-trash-o"></i></button>
							<button class="btn btn-success edit-btn" ng-click="editContact(contact.id)"><i class="fa fa-pencil"></i></button>
							<button class="btn btn-info detail-btn" ng-click="contactDetail(contact, contact.id)"><i class="fa fa-search"></i></button>
							<button class="btn btn-info star" ng-click="switchFavorite(contact)"><i ng-class="{'fa fa-star-o' : !contact.favorite, 'fa fa-star' : contact.favorite}"></i></button>
						</div>
						<h2 class="panel-title">{{contact.first_name}} {{contact.last_name}}</h2>
					</div>
					<div class="panel-body">
						<p class='phone'><i class="fa fa-phone" aria-hidden="true"></i> {{contact.phone_number}} </p>
						<p class='email'><i class="fa fa-envelope-open-o" aria-hidden="true"></i> {{contact.email}} </p>
						<p class='company'><i class="fa fa-handshake-o" aria-hidden="true"></i> {{contact.company}}</p>
						<p class='twitter'><i class="fa fa-twitter" aria-hidden="true"></i> {{contact.twitter}} </p>
						<p class='facebook'><i class="fa fa-facebook" aria-hidden="true"></i> {{contact.facebook_page}} </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


